@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: calc(1em + 0.5rem) !important;
}

*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --accent: #007dfc;
  --blk: rgb(2, 6, 23);
}

body {
  color: var(--blk);
  overflow-x: hidden;
}

.react-multi-carousel-track  {
  gap: 2rem;
}

body::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  width:6px;
}

body::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 1rem;
}
